<section>
    <header class="major">
        <h2 class="color:#FF7F24"><font color="#FF0000">限时活动</font> </h2>
    </header>
    <div class="mini-posts">
        <@jp.contents  module="mall" count="3" orderBy="view_count" hasThumbnail="true">
            <#list contents as content>
                <article>
                    <a href="${(content.url)!'#'}" class="image"><img width="248" height="260" class="sidebarImgLazy" data-original="${(content.thumbnail)!}" alt="" /></a>
                    <p>${(content.title)!}</p>
                    <p class="price">￥${(content.price)!0}</p>
                </article>
            </#list>
        </@jp.contents>
    </div>
</section>