<#macro script_import>
<!-- 微信js接口 -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script>

wx.config({
   // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '${OPTION("wechat_appid")!}', // 必填，公众号的唯一标识
    timestamp:'${OPTION("timestamp")!}', // 必填，生成签名的时间戳
    nonceStr: '${OPTION("nonceStr")!}', // 必填，生成签名的随机串
    signature: '${OPTION("signature")!}',// 必填，签名，见附录1
    jsApiList: ['checkJsApi','openLocation','getLocation','onMenuShareTimeline','onMenuShareAppMessage','getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
}); 

 wx.ready(function(){
    		// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
	    	var userId=null;
	    var cookies = document.cookie.split(";");
	    for(var i =0;i<cookies.length;i++){
	    		var cookie = cookies[i];
	    		var key= cookie.split("=")[0];
	    		var value = cookie.split("=")[1];
	    		if(key=='jp_user'){
	    			userId = value.substr(value.lastIndexOf('#')+1,value.length);
	    		}
	    }
    		
		//分享到朋友圈
		 wx.onMenuShareTimeline({
		    title: '分享到朋友圈标题', // 分享标题
		    link: window.location.href+'?uid='+userId, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		    imgUrl: window.location.href+'attachment/logo/sharelogo.png', // 分享图标
		    success: function () {
		    		// 用户确认分享后执行的回调函数
		    		console.log("分享成功");
			},	
			cancel: function () {
				// 用户取消分享后执行的回调函数
			}
		 });
    
	     //获取地理信息	
		 wx.getLocation({
		    success: function (res) {
		        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        var speed = res.speed; // 速度，以米/每秒计
		        var accuracy = res.accuracy; // 位置精度
		        console.log(latitude);
		        console.log(longitude);
		        console.log(speed);
		        console.log(accuracy);
		    },
		    cancel: function (res) {
		        alert('用户拒绝授权获取地理位置');
		    }
		}); 

	});
</script>


</#macro> 
<#macro script>
</#macro> 
<#macro css_import>
</#macro> 
<#macro css>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<html>
<head>
    <title>${WEB_TITLE!'商城'}</title>
    <meta name="keywords" content="${META_KEYWORDS!}">
    <meta name="description" content="${META_DESCRIPTION!}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <!--[if lte IE 8]><script src="${CTPATH}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="${CTPATH}/assets/css/main.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/slick/slick.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/slick/slick-theme.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/touchspin/jquery.bootstrap-touchspin.min.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="${CTPATH}/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="${CTPATH}/assets/css/ie8.css" /><![endif]-->
    <link rel="icon" href="${CTPATH}/favicon.ico" mce_href="${CTPATH}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="${CTPATH}/favicon.ico" mce_href="${CTPATH}/favicon.ico" type="image/x-icon">
    <@css_import />
    <#if css ??>
  	    <style type="text/css">
  	        <@css />
  	    </style>
    </#if>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <#include "_header.html"/>

            <#nested>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <!-- Search -->
            <#include "_search_box.html"/>

            <!-- Menu -->
            <#include "_menu.html"/>

            <!-- Content Box -->
            <#include "_content_box.html"/>

            <!-- Footer -->
            <#include "_foot.html"/>
        </div>
    </div>
</div>

    <@script_import />

    <!-- jQuery 2.1.4 -->
    <script src="${CPATH}/static/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="${CPATH}/static/plugins/jquery/jquery.form.min.js"></script>
    <script src="${CTPATH}/assets/js/skel.min.js"></script>
    <script src="${CTPATH}/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="${CTPATH}/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="${CTPATH}/assets/js/main.js"></script>
    <script src="${CTPATH}/assets/slick/slick.js"></script>
    <script src="${CTPATH}/assets/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="${CPATH}/static/layer/layer.js"></script>
    <script type="text/javascript">
        document.onkeydown=function(event){
            e = event ? event :(window.event ? window.event : null);
            if(e.keyCode==13){
                document.getElementById("searchBoxForm").submit();
            }
        }

        $(document).ready(function(){
            $('.autoplay').slick({
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow:'',
                nextArrow:'',
            });
        });

        <@script />
    </script>
</body>
</html>
</#macro>