<#macro script_import>
<!-- 微信js接口 -->
<!-- <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->
<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
<script src="${CPATH}/static/wechat/jweixin-1.2.0.js"></script>

<script>
var userId=null;
var cookies = document.cookie.split(";");
for(var i =0;i<cookies.length;i++){
		var cookie = cookies[i];
		var key= cookie.split("=")[0];
		var value = cookie.split("=")[1];
		if(key=='jp_user'){
			userId = value.substr(value.lastIndexOf('#')+1,value.length);
		}
}

var old_url = window.location.href;
var new_url;
if(old_url.indexOf("?") !=-1){ //url中存在问号
	if((old_url.indexOf("uid")!=-1)){//url中存在uid参数
		var re=eval('/(uid=)([^&]*)/gi');  
	    new_url = old_url.replace(re,'uid='+userId);  
	}else{
		new_url = old_url+'&uid='+userId;
	}
}else{ //url中不存在问号
	new_url = old_url+'?uid='+userId;
}

new_url = new_url.replace('&amp;','&');
new_url = new_url.split('&from=')[0];
console.log("new_url:"+new_url);
/* 
//修改链接，以供分享
if (!!(window.history && history.pushState)){
	  // 支持History API
	  history.pushState(null,null,new_url);
	} else {
	  // 不支持
	  console.log("不支持History API");
	} */
	
	var url = location.href.split('#').toString();	
	//console.log('url:'+url);
	
	var wxShare = {
			shareData: {
				title:'语味果业',
				desc:'健康生活从这里开始……',
				link:new_url,
				img_url:'${OPTION("web_domain")!}/attachment/logo/sharelogo.png'
			}
		}
	
wx.config({
    //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '${OPTION("wechat_appid")!}', // 必填，公众号的唯一标识
    timestamp:'${timestamp!}', // 必填，生成签名的时间戳
    nonceStr: '${nonceStr!}', // 必填，生成签名的随机串
    signature: '${signature!}',// 必填，签名，见附录1
    jsApiList: ['checkJsApi','openLocation','getLocation','onMenuShareTimeline','onMenuShareAppMessage','getLocation','openAddress'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
}); 

wx.ready(function(){
    	// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，
    	// 所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。
    	// 对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
	//分享到朋友圈
	wx.onMenuShareTimeline({
	    title: wxShare.shareData.title, // 分享标题
	    desc: wxShare.shareData.desc,
	    link: wxShare.shareData.link, // 分享链接
	    imgUrl: wxShare.shareData.img_url, // 分享图标
	    data_url: wxShare.shareData.link,
	    	img_url: wxShare.shareData.img_url,
	    trigger: function (res) {
            //alert('用户点击分享到朋友圈');
            wxShare.shareData.link = window.location.href+'?uid='+userId;
        },
        success: function (res) {
            //alert('已分享');
        },
        cancel: function (res) {
            //alert('已取消');
        },
        fail: function (res) {
            //alert(JSON.stringify(res));
        }
	 });
    	
	wx.onMenuShareAppMessage({
		title: wxShare.shareData.title, // 分享标题
		desc: wxShare.shareData.desc, // 分享描述
		link: wxShare.shareData.link,// 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		imgUrl: wxShare.shareData.img_url, // 分享图标
		data_url: wxShare.shareData.link,
	    	img_url: wxShare.shareData.img_url,
		trigger: function (res) {
			wxShare.shareData.link = window.location.href+'?uid='+userId;
        },
        success: function (res) {
            //alert('已分享');
        },
        cancel: function (res) {
            //alert('已取消');
        },
        fail: function (res) {
            //alert(JSON.stringify(res));
        }
	});
	
});
 
</script>


</#macro> 
<#macro script>
</#macro> 
<#macro css_import>
</#macro> 
<#macro css>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<html>
<head>
    <title>${WEB_TITLE!'商城'}</title>
    <meta name="keywords" content="${META_KEYWORDS!}">
    <meta name="description" content="${META_DESCRIPTION!}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <!--[if lte IE 8]><script src="${CTPATH}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="${CTPATH}/assets/css/main.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/slick/slick.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/slick/slick-theme.css" />
    <link rel="stylesheet" href="${CTPATH}/assets/touchspin/jquery.bootstrap-touchspin.min.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="${CTPATH}/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="${CTPATH}/assets/css/ie8.css" /><![endif]-->
    <link rel="icon" href="${CTPATH}/favicon.ico" mce_href="${CTPATH}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="${CTPATH}/favicon.ico" mce_href="${CTPATH}/favicon.ico" type="image/x-icon">
    <@css_import />
    <#if css ??>
  	    <style type="text/css">
  	        <@css />
  	    </style>
    </#if>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <#include "_header.html"/>

            <#nested>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <!-- Search -->
            <#include "_search_box.html"/>

            <!-- Menu -->
            <#include "_menu.html"/>

            <!-- Content Box -->
            <#include "_content_box.html"/>

            <!-- Footer -->
            <#include "_foot.html"/>
        </div>
    </div>
</div>

    <@script_import />

    <!-- jQuery 2.1.4 -->
    <script src="${CPATH}/static/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="${CPATH}/static/plugins/jquery/jquery.form.min.js"></script>
    <script src="${CTPATH}/assets/js/skel.min.js"></script>
    <script src="${CTPATH}/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="${CTPATH}/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="${CTPATH}/assets/js/main.js"></script>
    <script src="${CTPATH}/assets/slick/slick.js"></script>
    <script src="${CTPATH}/assets/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="${CPATH}/static/layer/layer.js"></script>
	<script src="${CPATH}/static/layer/laydate.js"></script>
    <script type="text/javascript">
        document.onkeydown=function(event){
            e = event ? event :(window.event ? window.event : null);
            if(e.keyCode==13){
                document.getElementById("searchBoxForm").submit();
            }
        }

        $(document).ready(function(){
            $('.autoplay').slick({
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow:'',
                nextArrow:'',
            });
        });

        <@script />
    </script>
</body>
</html>
</#macro>