<!-- <div class="topbar" style="background: url(/templates/jmall/assets/images/backtop.png) 100% 100%">
		<img id="leftTopImg" src="/templates/jmall/assets/images/massageTop.png" style="width:20px;height:18px" onclick="leftTopClick();"/>
		<img src="/templates/jmall/assets/images/topMiddle.png" style="width:11px;height:11px"/>
		<img id="rightTopImg" src="/templates/jmall/assets/images/sweepTop.png" style="width:20px;height:18px" onclick="rightTopClick();"/>
</div> -->
<section id="search" style="position: fixed;top: 0;width: 100%;background-color: #eff1f2;z-index: 99;padding: 0.5em;margin: 0 0 -1em -2em;">
    <form id="searchBoxForm" action="${CPATH}/s" method="post" style="margin-bottom: 0px">
        <input type="text" id="query" name="k" value="${keyword!}" placeholder="请输入关键字，按回车键搜索" />
    </form>
</section>

