<#include "_inc/_layout.html"/>
<#macro script>
	$(document).ready(function(){
		$('.multiple-items').slick({
			dots: true,
			infinite: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			prevArrow:'',
			nextArrow:'',
		});
		
		//默认显示商品的第一个规则的数据
		if ("${specValueList?size!0}" <= 1) {
			$("#specDiv").hide();
		}
		showContentSpecItem("${specValueList[0].id!}","${specValueList[0].getContentSpecItem(content.id!).price!}","${specValueList[0].getContentSpecItem(content.id!).stock!}");
		$("#demo-priority-specValue${specValueList[0].id!}").attr('checked','true');
		
		//防止页面后退滚动条不消失
         history.pushState(null, null, document.URL);
         window.addEventListener('popstate', function () {
         		if (/(iPhone|iPad|iPod)/i.test(navigator.userAgent)) {             
	            window.location.href = "${CPATH}/";
	    		} else { window.history.go("-1"); }
         });
	});
	
	function showContentSpecItem(specValueId,price,stock){
		var html="￥"+price+"&nbsp;&nbsp;&nbsp;库存："+stock;
		$(".price").html(html);
		$("#specValueId").val(specValueId);
		$("#quantity").trigger("touchspin.updatesettings", {min: 1,max: stock});
	}

	$("#quantity").TouchSpin({min: 1}).focus(function(){$(this).blur();});

	function addShoppingCart(){
		layermobile.open({
   		    type: 2
   		    ,content: '加载中'
   		  });
		$("#form").attr("action","${CPATH}/user/doAddShoppingCart");
		$("#form").ajaxSubmit({
			type : "post",
			dataType : "json",
			success : function(data) {
				if(data.errorCode == 0){
					location.reload();
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else{
					layermobile.closeAll();
					layer.msg(data.message);
				}
			},
			error : function() {
				layer.msg("系统异常");
				layermobile.closeAll();
			}
		});
	}

	function userSettlement(){
		layermobile.open({
   		    type: 2
   		    ,content: '加载中'
   		  });
		$("#form").attr("action","${CPATH}/user/checkUserSettlement");
		$("#form").ajaxSubmit({
			type : "post",
			dataType : "json",
			success : function(data) {
				if(data.errorCode == 0){
					var goto=window.location.href;
					$("#form").attr("action","${CPATH}/user/userSettlement?goto="+encodeURI(encodeURI(goto))+"").submit();
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else{
					layer.msg(data.message);
					layermobile.closeAll();
				}
			},
			error : function() {
				layer.msg("系统异常");
				layermobile.closeAll();
			}
		});
	}

</#macro>
<@layout>
<style>
#sidebar .toggle{
	top:0px
}
</style>
<section>
	<#if content??>
		<#if "normal"==content.status!>
			<form id="form" action="#" method="POST">
				<input type="hidden" readonly="readonly" name="content.id" value="${content.id!}">
				<div class="box alt" style="margin-top: 10px;margin-bottom: 10px">
					<#if banners?size gt 0>
						<div class="slider multiple-items slick-screen">
							<#list banners as banner>
								<div class="image fit">
									<img src="${(banner)!}" alt="" />
								</div>
							</#list>
						</div>
					<#else>
						<span class="image fit" style="margin-bottom: 10px"><img src="${content.thumbnailByName('t1')!}" alt="" /></span>
					</#if>
					<p>${(content.title)!}</p>
					<p class="price"></p>
				</div>

				<#if spec??>
					<div id="specDiv" class="box" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;border:0px;border-radius:0;border-top: 10px solid #f5f6f6;margin: 0em -2em;padding:1em 2em;margin-bottom: 0px">
						<h5 style="width: 6em">${spec.title!}</h5>
						<div class="row" style="margin-right: 0px">
							<input type="hidden" readonly="readonly" id="specValueId" name="specValue.id" value="${specValueList[0].id!}"><!-- 默认取第一个规格的值 -->
							<#if specValueList?size gt 0>
								<#list specValueList as specValue>
									<div>
										<input type="radio" id="demo-priority-specValue${specValue.id!}" name="specValueRadio" onclick="showContentSpecItem(${specValue.id!},${specValue.getContentSpecItem(content.id!).price!},${specValue.getContentSpecItem(content.id!).stock!})">
										<label style="padding-left:1.8em;padding-right: 0em" for="demo-priority-specValue${specValue.id!}">${specValue.value!}</label>
									</div>
								</#list>
							</#if>
						</div>
					</div>
					<div class="box" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;border:0px;border-radius:0;border-top: 10px solid #f5f6f6;margin: 0em -2em;padding:1em 2em;margin-bottom: 0px">
						<h5 style="font-size: 15px;margin: 0em">选择数量</h5>
						<div class="row" style="text-align: right;">
							<div >
								<input id="quantity" name="quantity" style="width: 30%;text-align: center;" readonly="readonly" type="number" value="1">
							</div>
						</div>
					</div>
				</#if>

				<div class="box alt bottom" style="border-top: 10px solid #f5f6f6;margin: 0em -2em;padding:1em 2em 0em">
					<h4 id="content">商品介绍</h4>
					<div class="row">${content.text!}</div>
				</div>

				<#include "_inc/_content_bottom_bar.html"/>
			</form>
		<#else>
			商品已经下架...
		</#if>
	<#else>
		哎哟，没有找到商品，请稍后再试...
	</#if>
	<#if jp.commentPage??>
		<@jp.commentPage pageSize="10">
			<div class="table-wrapper" style="border-top: 10px solid #f5f6f6;margin: 0em -2em 2em;padding:1em 2em 0em">
				<h4>商品评价</h4>
				<#if comments?size gt 0>
					<table class="alt">
						<tbody>
						<#list comments as comment>
							<tr>
								<td>
									${comment.author!}
								</td>
								<td>
									${comment.text!}
								</td>
							</tr>
						</#list>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="2">
								<ul class="pagination">
									<@pagination>
									<#list pages as page>
										<li class="${(page.style)!}">
											<a class="page" href="${(page.url)!}">${(page.text)!}</a>
										</li>
									</#list>
								</@pagination>
								</ul>
							</td>
						</tr>
						</tfoot>
					</table>
				<#else>
					<div class="box alt bottom">
						<div class="row uniform">
							<div class="12u$">
								<P>商品评价空空的...</P>
							</div>
						</div>
					</div>
				</#if>
			</div>
		</@jp.commentPage>
	</#if>
</section>
</@layout>