<#include "_inc/_layout.html"/>
<#macro script>

	function getQueryString(name) {
	    var result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
	    if (result == null || result.length < 1) {
	        return "";
	    }
	    return result[1];
	}

	window.onload=function(){ 
		var cp_code = getQueryString("cp_code");
		
		if (cp_code != null && cp_code != '' &&　cp_code.length > 0) {
			layer.load();
			$.ajax({
				type: "POST",
				traditional: true,
				url: "${CPATH}/getCoupon",
				data: {
					cp_code:cp_code
				},
				success: function(data){
					if(data.errorCode == 0){
						var coupon = data.data;
	                    $('#coupon_span').html(coupon.amount + "元");
	                    layer.open({
						  type: 1,
						  title: false,
						  closeBtn: 0,
						  shadeClose: true,
						  content: $('#coupon_div')
						});
					}
					layer.closeAll('loading');
				}
			});
		}
		
	} 
	
	function closeCouponDiv() {
		layer.close(layer.index);
	}
	
	function rightTopClick() {
		layer.tips('暂时戳不动噢^_^', '#rightTopImg', {
		  tips: [4, '#78BA32']
		});
	}
	function leftTopClick() {
		layer.tips('暂时戳不动噢^_^', '#leftTopImg', {
		  tips: [3, '#78BA32']
		});
	}
</#macro>
<@layout>
<!-- Banner -->
<!-- <#include "_inc/_banner.html"/> -->
<section>
 <#include "_inc/_user_top_bar.html"/>
 	<div style="margin:1em -2em 1em -2em">
 		<img src="/templates/jmall/assets/images/indexImgOne.jpg" style="width:100%;"/>
 		<div style="background: url(/templates/jmall/assets/images/indexMiddleBack.png) 100% 100%;height: 75px;padding: 10px 0px 10px 0px">
 			<ul class="icons" style="text-align: center;margin-bottom: 0px">
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleOne.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleTwo.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleThree.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleFour.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleFive.png" style="width:45px"/>
				</li>
			</ul>
 		</div>
 		<div style="text-align: center;">
 			<img src="/templates/jmall/assets/images/indexRecomd.png" style="width:90%"/>
 		</div>
		<img src="/templates/jmall/assets/images/indexImgTwo.jpg" style="width:100%;"/>
		<img src="/templates/jmall/assets/images/indexImgThree.jpg" style="width:100%;"/>
 	</div>
    <div class="posts">
        <@jp.indexPage module="mall" pageSize="9">
            <#if page.getList()?size gt 0>
                <#list page.getList() as content>
                    <article>
                        <a href="${(content.url)!'#'}" style="color: black;">
                            <span class="image"><img src="${content.thumbnailByName('t1')!}" alt="" /></span>
                            <p>${(content.title)!}</p>
                            <p class="price">￥${(content.price)!0}</p>
                        </a>
                    </article>
                </#list>
            <#else>
                <article>
                    <P>商品努力上架中...</P>
                </article>
            </#if>
        </@jp.indexPage>
    </div>
    <div class="box alt bottom">
        <div class="row">
            <ul class="pagination">
                <@pagination>
                    <#list pages as page>
                        <li class="${(page.style)!}">
                            <a class="page" href="${(page.url)!}">${(page.text)!}</a>
                        </li>
                    </#list>
                </@pagination>
            </ul>
        </div>
    </div>
    <div>
    	<img src="/templates/jmall/assets/images/indexShoping.png" onclick="window.location.href='${CPATH}/user/shoppingCart';" style="width:46px;position: fixed;bottom: 0px;right: 0px;z-index: 98;"/>
    </div>
    
    <div id="coupon_div" style="background: url(/templates/jmall/assets/images/userPacketBack.png);width: 327px;height:264px;margin: auto;text-align: center;display: none;" >
    	<img src="/templates/jmall/assets/images/userPacketTitle.png" style="width:159px;height:29px;margin-top: 15px"/>
    	<div style="background: url(/templates/jmall/assets/images/userPacketBlock.png);width: 271px;height:103px;margin-left: 28px;margin-top: 15px;display: flex;justify-content:space-between;">
    		<span id="coupon_span" style="color:#ffaf66;font-size: 50px;font-weight: bolder;margin-left: 15%"></span>
    		<img src="/templates/jmall/assets/images/userPacketRight.png" style="width:75px;height:48px;margin-right: 2%;margin-top: 8%"/>
    	</div>
    	<img src="/templates/jmall/assets/images/userPacketButton.png" style="width:151px;height:43px;margin-top:15px" onclick="closeCouponDiv()"/>
    </div>
    
    <#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>