
<#include "_inc/_layout.html"/>
<@layout>
<!-- Banner -->
<!-- <#include "_inc/_banner.html"/> -->
<section>
 <#include "_inc/_user_top_bar.html"/>
 	<div style="margin:1em -2em 1em -2em">
 		<img src="/templates/jmall/assets/images/indexImgOne.png" style="width:100%;"/>
 		<div style="background: url(/templates/jmall/assets/images/indexMiddleBack.png) 100% 100%;height: 75px;padding: 10px 0px 10px 0px">
 			<ul class="icons" style="text-align: center;margin-bottom: 0px">
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleOne.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleTwo.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleThree.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleFour.png" style="width:45px"/>
				</li>
				<li style="width: 20%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/indexMiddleFive.png" style="width:45px"/>
				</li>
			</ul>
 		</div>
 		<div style="text-align: center;">
 			<img src="/templates/jmall/assets/images/indexRecomd.png" style="width:90%"/>
 		</div>
		<img src="/templates/jmall/assets/images/indexImgTwo.png" style="width:100%;"/>
		<img src="/templates/jmall/assets/images/indexImgThree.png" style="width:100%;"/>
 	</div>
    <div class="posts">
        <@jp.indexPage module="mall" pageSize="9">
            <#if page.getList()?size gt 0>
                <#list page.getList() as content>
                    <article>
                        <a href="${(content.url)!'#'}" style="color: black;">
                            <span class="image"><img src="${content.thumbnailByName('t1')!}" alt="" /></span>
                            <p>${(content.title)!}</p>
                            <p class="price">￥${(content.price)!0}</p>
                        </a>
                    </article>
                </#list>
            <#else>
                <article>
                    <P>商品努力上架中...</P>
                </article>
            </#if>
        </@jp.indexPage>
    </div>
    <div class="box alt bottom">
        <div class="row">
            <ul class="pagination">
                <@pagination>
                    <#list pages as page>
                        <li class="${(page.style)!}">
                            <a class="page" href="${(page.url)!}">${(page.text)!}</a>
                        </li>
                    </#list>
                </@pagination>
            </ul>
        </div>
    </div>
    <div>
    	<img src="/templates/jmall/assets/images/indexShoping.png" style="width:46px;position: fixed;bottom: 0px;right: 0px;z-index: 98;"/>
    </div>
    <#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>