<#include "_inc/_layout.html"/>
<@layout>
<section>
	<div class="posts">
		<@jp.searchResultPage pageSize="9" >
			<#if page.getList()?size gt 0>
				<#list page.getList() as bean>
					<article>
						<a href="${(bean.data.url)!'#'}" style="color: black;">
							<span class="image"><img src="${bean.data.thumbnailByName('t1')!}" alt="" /></span>
							<p>${(bean.title)!}</p>
							<p class="price">￥${(bean.data.price)!0}</p>
						</a>
					</article>
				</#list>
			<#else>
				<article>
					<P>商品努力上架中...</P>
				</article>
			</#if>
		</@jp.searchResultPage>
	</div>
	<div class="box alt bottom">
		<div class="row">
			<ul class="pagination">
				<@pagination>
					<#list pages as page>
						<li class="${(page.style)!}">
							<a class="page" href="${(page.url)!}">${(page.text)!}</a>
						</li>
					</#list>
				</@pagination>
			</ul>
		</div>
	</div>
	<#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>