<#include "test1.html"/>
<@script_import_test/>
<!-- 微信js接口 -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script>

var URL ='http://192.168.0.103:8080/test/test2?uid=123';

if (!!(window.history && history.pushState)){
	  // 支持History API
	  console.log("支持History API");
	  history.pushState(null,null,URL);
	  console.log(window.location.href);
	} else {
	  // 不支持
		console.log("不支持History API");
	}

wx.config({
   // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: 'wx341e1ecdc00e388f', // 必填，公众号的唯一标识
    timestamp:'1517150834', // 必填，生成签名的时间戳
    nonceStr: 'e2c1ae5d-f271-480f-95a6-fe7ef6392cb5', // 必填，生成签名的随机串
    signature: 'b0be85df75ca273884b4006bf51c8071967d4bac',// 必填，签名，见附录1
    jsApiList: ['checkJsApi','openLocation','getLocation','onMenuShareTimeline','onMenuShareAppMessage','getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});

wx.ready(function(){
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    	var userId=null;
    var cookies = document.cookie.split(";");
    for(var i =0;i<cookies.length;i++){
    		var cookie = cookies[i];
    		var key= cookie.split("=")[0];
    		var value = cookie.split("=")[1];
    		if(key=='jp_user'){
    			userId = value.substr(value.lastIndexOf('#')+1,value.length);
    		}
    }
    
	//分享到朋友圈
	wx.onMenuShareTimeline({
	    title: '分享到朋友圈标题', // 分享标题
	    link: 'http://192.168.0.103:8080/test/test2?uid=123', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
	    	imgUrl: '', // 分享图标
	    success: function () {
	    		// 用户确认分享后执行的回调函数
	    		var userId = $("#userId").val();
	    		console.log("分享成功");
	    		alert(window.location.href);
	    		
	    		
		},	
		cancel: function () {
			// 用户取消分享后执行的回调函数
		}
		});
    
    	//获取地理信息	
	wx.getLocation({
	    success: function (res) {
	        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
	        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
	        var speed = res.speed; // 速度，以米/每秒计
	        var accuracy = res.accuracy; // 位置精度
	        console.log(latitude);
	        console.log(longitude);
	        console.log(speed);
	        console.log(accuracy);
	    },
	    cancel: function (res) {
	        alert('用户拒绝授权获取地理位置');
	    }
	});
	
	

	});

</script>

<section>
    <header class="major">
        <h4>测试页面</h4>
    </header>
    <div class="box alt">
        <button> test2 按钮1</button>
        <button> 按钮2</button>
        <button> 按钮3</button>
        
    </div>
</section>
