<#include "_inc/_layout.html"/>
<#macro script>
	$(document).ready(function(){
		 var localUserAddress = localStorage.getItem('m.yuweiguoye.com.userAddress');
         var userAddress = JSON.parse(localUserAddress);
         changeAddress(userAddress);
     });
	//微信支付--jiangjb
	var wechatPayData = '';
	function onBridgeReady(){
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest', 
			JSON.parse(wechatPayData),
			function(res){
				// 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
				if(res.err_msg == "get_brand_wcpay_request:ok" ) {
					layer.msg('支付成功！</br>正在转到订单界面', function(){
	                    window.location.href="${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction";
	                });
				} else {
					//alert(JSON.stringify(res));
					layer.msg('支付失败了！</br>正在转到待支付界面', function(){
	                    window.location.href="${CPATH}/user/userUnpayed?goto=${CPATH}/user/userUnpayed";
	                });
				}
			}
		); 
	}
	
	function doShoppingCartSettlement(){
		var remark=$("#remark").val();
		var shoppingCarts=$("input[name='shoppingCart.id']");
		var userAddressName=$("#userAddressName").html();
		var userAddressMobile=$("#userAddressMobile").html();
		var userAddressAddress=$("#userAddressAddress").html();
		var payAmount =  $('#payAmount').val();
		var couponUsedId =  $('#couponUsedId').val();
		var shoppingCartIds=new Array();
		if(shoppingCarts.length > 0){
			$.each(shoppingCarts,function(n,shoppingCart) {
				shoppingCartIds.push(shoppingCart.value);
			});
		}else{
			layer.msg('结算的商品为空');
			return;
		}
		if(!userAddressName && !userAddressMobile && !userAddressAddress){
			layer.msg('请选择收货地址');
			return;
		}
		<!--微信支付-->
		$.ajax({
			type: "POST",
			traditional: true,
			//url: "${CPATH}/transaction/shoppingCartAlipay",
			url: "${CPATH}/wechatpay/shoppingCartWechatpay",
			data: {
				ucode:'${ucode!}',
				remark:remark,
				userAddressName:userAddressName,
				userAddressMobile:userAddressMobile,
				userAddressAddress:userAddressAddress,
				shoppingCartIds:shoppingCartIds,
				payAmount:payAmount,
				couponUsedId:couponUsedId
			},
			success: function(data){
				if(data.errorCode == 0){
					//$("#alipayDiv").append(data.data);
					wechatPayData = data.data;
					if(data.data == '0.00'){//不需要支付
						layer.msg('购买成功！</br>正在转到订单界面', function(){
		                    window.location.href="${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction";
		                });
		                return;
					}
					
                    //触发微信支付
                    if (typeof WeixinJSBridge == "undefined"){
						if( document.addEventListener ){
							document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
						}else if (document.attachEvent){
							document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
							document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
						}
					}else{
						onBridgeReady();
					}
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else if(data.errorCode == 3){
					layer.msg(data.message+" 几秒后自动跳转", function(){
						window.location.href="${CPATH}/user/center";
					});
				}else{
					layer.msg(data.message);
				}
			},error: function(){
				layer.msg('系统异常 几秒后自动跳转', function(){
					window.location.href="${CPATH}/user/center";
				});
			}
		});
	}

	function doSettlement(){
		var contentId=$("#contentId").val();
		var specValueId=$("#specValueId").val();
		var quantity=$("#quantity").val();
		var remark=$("#remark").val();
		var payAmount =  $('#payAmount').val();
		var couponUsedId =  $('#couponUsedId').val();
		
		var userAddressName=$("#userAddressName").html();
		var userAddressMobile=$("#userAddressMobile").html();
		var userAddressAddress=$("#userAddressAddress").html();
		
		if(!userAddressName && !userAddressMobile && !userAddressAddress){
			layer.msg('请选择收货地址');
			return;
		}
		<!--微信支付-->
		$.ajax({
			type: "POST",
			traditional: true,
			//url: "${CPATH}/transaction/contentAlipay",
			url: "${CPATH}/wechatpay/contentWechatpay",
			data: {
				ucode:'${ucode!}',
				remark:remark,
				userAddressName:userAddressName,
				userAddressMobile:userAddressMobile,
				userAddressAddress:userAddressAddress,
				contentId:contentId,
				specValueId:specValueId,
				quantity:quantity,
				payAmount:payAmount,
				couponUsedId:couponUsedId
			},
			success: function(data){
				if(data.errorCode == 0){
					//$("#alipayDiv").append(data.data);
					if(data.data == '0.00'){//不需要支付
						layer.msg('购买成功！</br>正在转到订单界面', function(){
		                    window.location.href="${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction";
		                });
		                return;
					}
					
					wechatPayData = data.data;
                    //触发微信支付
                    if (typeof WeixinJSBridge == "undefined"){
						if( document.addEventListener ){
							document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
						}else if (document.attachEvent){
							document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
							document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
						}
					}else{
						onBridgeReady();
					}
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else if(data.errorCode == 3){
					layer.msg(data.message+" 几秒后自动跳转", function(){
						window.location.href="${CPATH}/user/center";
					});
				}else{
					layer.msg(data.message);
				}
			},error: function(){
				layer.msg('系统异常 几秒后自动跳转', function(){
					window.location.href="${CPATH}/user/center";
				});
			}
		});
	}
	
	function couponList() {
		layer.open({
		  type: 1,
		  title: false,
		  closeBtn: 0,
		  shadeClose: true,
		  skin: 'yourclass',
		  content: $('#couponList')
		});
	}
	
	//加减法
	function accAdd(arg1,arg2){   
	     var r1,r2,m;   
	     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}   
	     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}   
	     m=Math.pow(10,Math.max(r1,r2))   
	     return (arg1*m+arg2*m)/m   
	}
	
	//乘除法
	function accMultiply(arg1,arg2){   
	    var m=0,s1=arg1.toString(),s2=arg2.toString();   
	    try{m+=s1.split(".")[1].length}catch(e){}   
	    try{m+=s2.split(".")[1].length}catch(e){}   
	    return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);   
	}  
	
	//选择优惠券
	function chooseCoupon(obj) {
		var couponAmount = obj.attributes["value"].nodeValue;
		var couponName = obj.attributes["couponName"].nodeValue;
		var totalAmount = $('#totalAmount_P').attr("value");
		var payAmount = $('#payAmount_P').attr("value");
		if (couponAmount <= 0) {
			couponAmount = 0.00;
			$('#coupon_P').html('不使用优惠券');
		} else {
			$('#coupon_P').html(couponName + '   ￥-' + couponAmount);
		}
		payAmount = accAdd(totalAmount,-couponAmount);
		if (payAmount < 0) {
			payAmount = 0.00;
		}
		$('#payAmount_P').html('￥' + payAmount);
		$('#payAmount_P').attr("value",payAmount);
		
		$('#payAmount').attr("value",payAmount);
		$('#couponUsedId').attr("value",obj.id);
		
		layer.close(layer.index);
	}
	
	//调用微信共享地址界面
	function getWxAddr() {
		wx.openAddress({
	        trigger: function (res) {
	          layer.load(2);
	        },
	        success: function (res) {
	          	layer.closeAll('loading');
	          	var userName = res.userName; // 收货人姓名
				var telNumber = res.telNumber; // 收货人手机号码
				var postalCode = res.postalCode; // 邮编
				var provinceName = res.provinceName; // 国标收货地址第一级地址（省）
				var cityName = res.cityName; // 国标收货地址第二级地址（市）
				var countryName = res.countryName; // 国标收货地址第三级地址（国家）
				var detailInfo = res.detailInfo; // 详细收货地址信息
				var nationalCode = res.nationalCode; // 收货地址国家码
				var userAddress = {
					userAddressName:userName,
					userAddressMobile:telNumber,
					userAddressAddress:provinceName+cityName+countryName+' '+detailInfo
				};
				
				changeAddress(userAddress);
				
				localStorage.setItem('m.yuweiguoye.com.userAddress', JSON.stringify(userAddress));
	        },
	        cancel: function (res) {
	          //alert('用户取消拉出地址');
	        },
	        fail: function (res) {
	           layer.msg(JSON.stringify(res));
	           var userAddress = {
					userAddressName:'默认收货人',
					userAddressMobile:'13333333333',
					userAddressAddress:'默认收货地址'
				};
				
				changeAddress(userAddress);
				localStorage.setItem('m.yuweiguoye.com.userAddress', JSON.stringify(userAddress));
	        }
	      });
	}

	function changeAddress(userAddress) {
		//修改页面地址的展示
		if (userAddress != null && userAddress!=undefined) {
	         $("#userAddressName").html(userAddress.userAddressName);
			 $("#userAddressMobile").html(userAddress.userAddressMobile);
			 $("#userAddressAddress").html(userAddress.userAddressAddress);
         	 $("#addressInfoDiv").show();
			 $("#addAddressButton").hide();
         } else {
         	$("#addAddressButton").show();
         	$("#addressInfoDiv").hide();
         }
	}
</#macro>
<@layout>
<style>
table{margin:0px}
table tbody tr{border: solid 0px rgba(210, 215, 217, 0.75);}
#sidebar .toggle{
	top:0px
}
</style>
<section >
	<div>
		<input type="hidden" name="goto" value="${goto!}">
		<div onclick="getWxAddr()">
			<div id="addressInfoDiv" class="row uniform" style="padding: 15px 0px 4px 5px;" style="display: none">
				<div class="12u$" style="padding-left: 0px">
					<div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
						<div style="width:100%;margin-left: 15px">
							<div style="display: flex;flex-direction: row;justify-content: space-between;">
								<div style="display: flex;flex-direction: row;align-items: center;">
									<img src="/templates/jmall/assets/images/location.png" style="width:15px;height:15px;margin-right: 5px"/>
									收货人：
									<div id="userAddressName"></div>
								</div>
								<div id="userAddressMobile" style="margin-right: 10px"></div>
							</div>
							<div style="display: flex;flex-direction: row;margin-left: 20px">
								收货地址：
								<div id="userAddressAddress"></div>
							</div>
						</div>
						<div>></div>
					</div>
				</div>
			</div>
			<div id="addAddressButton" class="row uniform" style="display: none;padding-top:15px">
				<div class="12u$">
					<div style="display: flex;justify-content:center;align-items:center">
						<img src="/templates/jmall/assets/images/addAddress_ico.png" style="width:25px;height:25px"/>
						<span style="color: #ffc926;font-size: 22px;margin-left: 20px;font-weight: bold;">添加收货地址</span>
					</div>
				</div>
			</div>
		</div>
		<#if jp.shoppingCartPage??>
			<@jp.shoppingCartPage pageSize="100">
				<div style="margin: 5px -2em 5px -2em">
					<img src="/templates/jmall/assets/images/orderRim.png" style="width: 100%;"/>
				</div>
				<div class="table-wrapper">
					<table>
						<tbody>
							<#list shoppingCarts as shoppingCart>
								<input type="hidden" name="shoppingCart.id" value="${shoppingCart.id!}">
								<input type="hidden" id="payAmount" name="payAmount" value="${object.get('price')!}">
								<input type="hidden" id="couponUsedId" name="couponUsedId" value="0">
								<tr>
									<td style="width: 40%;">
										<img class="image fit" src="${shoppingCart.thumbnail!}" alt="" />
									</td>
									<td>
										<p>${shoppingCart.title!}</p>
										<p>${shoppingCart.value!}</p>
										<p class="price">￥${shoppingCart.price!} × ${shoppingCart.quantity!}</p>
									</td>
								</tr>
							</#list>
						</tbody>
						<!--<tfoot>
							<tr>
								<td colspan="3">
									<ul class="pagination">
										<@pagination>
											<#list pages as page>
												<li class="${(page.style)!}">
													<a class="page" href="${(page.url)!}">${(page.text)!}</a>
												</li>
											</#list>
										</@pagination>
									</ul>
								</td>
							</tr>
						</tfoot>-->
					</table>
				</div>
				<div style="margin: 0em -2em;">
					<div style="padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;" >
						<span>数量：</span>
						<span class="price">${object.get('quantity')!}</span>
					</div>
					<div id="totalAmount_P" value="${object.get('price')!}" style="border-bottom: 10px solid #f5f6f6;padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
						<span>总金额：</span>
						<span class="price" >￥${object.get('price')}</span>
					</div>
				</div>
				<div style="margin: 0em -2em;">
					<div onclick="couponList()" style="margin-bottom:20px;border-bottom: 10px solid #f5f6f6;padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
						<span>优惠券：</span>
						<span>
							<span id="coupon_P" style="color: #019ef3;font-size: 12px;padding-right: 5px">优惠券</span>>
						</span>
						
					</div>
				</div>
				<!-- <div class="lineOrangeBode" style="height: 3px;width: 100%;background-color: #fd7879;margin-bottom: 10px"></div>
					<div class="row uniform">
						<div class="12u$ align-right">
							<p class="price">数量：${object.get('quantity')!}</p>
							<p class="price" id="totalAmount_P" value="${object.get('price')!}">总金额：￥${object.get('price')!}</p>
						</div>
					</div>
				<div class="lineOrangeNor" style="height: 1px;width: 100%;background-color: #fd7879;margin-top: 10px"></div>
				<div class="row uniform">
					<div class="12u$ align-right">
						<p class="price" id="coupon_P" onclick="couponList()" style="cursor:pointer">优惠券></p>
						<p class="price" id="payAmount_P" value="${object.get('price')!}">实付款：￥${object.get('price')!}</p>
					</div>
				</div> -->
			</@jp.shoppingCartPage>
		</#if>
		<#if content??>
			<div style="margin: 5px -2em 5px -2em">
				<img src="/templates/jmall/assets/images/orderRim.png" style="width: 100%;"/>
			</div>
			<div class="table-wrapper">
				<table>
					<tbody>
						<input type="hidden" id="contentId" name="contentId" value="${content.id!}">
						<input type="hidden" id="specValueId" name="specValueId" value="${content.spec_value_id!}">
						<input type="hidden" id="quantity" name="quantity" value="${quantity!}">
						<input type="hidden" id="payAmount" name="payAmount" value="${(content.price!)*(quantity!)}">
						<input type="hidden" id="couponUsedId" name="couponUsedId" value="0">
						<tr>
							<td style="width: 40%;">
								<img class="image fit" src="${content.thumbnail!}" alt="" />
							</td>
							<td>
								<p>${content.title!}</p>
								<p>${content.value!}</p>
								<p class="price">￥${content.price!} × ${quantity!}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="margin: 0em -2em;">
				<div style="padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;" >
					<span>数量：</span>
					<span class="price">${quantity!}</span>
				</div>
				<div id="totalAmount_P" value="${(content.price!)*(quantity!)}" style="border-bottom: 10px solid #f5f6f6;padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
					<span>总金额：</span>
					<span class="price" >￥${(content.price!)*(quantity!)}</span>
				</div>
			</div>
			<div style="margin: 0em -2em;">
				<div onclick="couponList()" style="margin-bottom:20px;border-bottom: 10px solid #f5f6f6;padding: 10px 1em;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
					<span>优惠券：</span>
					<span>
						<span id="coupon_P" style="color: #019ef3;font-size: 12px;padding-right: 5px">优惠券</span>>
					</span>
					
				</div>
			</div>
			
<!-- 			<div class="lineOrangeBode" style="height: 3px;width: 100%;background-color: #fd7879;margin-bottom: 10px"></div>
			<div class="row uniform">
				<div class="12u$ align-right">
					<p class="price">数量：${quantity!}</p>
					<p class="price" id="totalAmount_P" value="${(content.price!)*(quantity!)}">总金额：￥${(content.price!)*(quantity!)}</p>
				</div>
			</div>
			<div class="lineOrangeNor" style="height: 1px;width: 100%;background-color: #fd7879;margin-top: 10px"></div>
			<div class="row uniform">
				<div class="12u$ align-right">
					<p class="price" id="coupon_P" onclick="couponList()" style="cursor:pointer">优惠券></p>
					<p class="price" id="payAmount_P" value="${(content.price!)*(quantity!)}">实付款：￥${(content.price!)*(quantity!)}</p>
				</div>
			</div> -->
		</#if>
		<diV class="box alt">
			<div class="row uniform">
				<div class="12u$">
					<textarea id="remark" name="remark" placeholder="给商家留言...（选填）" rows="3"></textarea>
				</div>
			</div>
		</diV>
		<!-- <div class="box alt">
			<div class="row uniform">
				<div class="12u$">
					<ul class="actions fit">
						<li><a href="${goto!}" class="button fit" >取消</a></li>
						<#if jp.shoppingCartPage??>
							<li><a href="javascript:void(0)" class="button special fit" onclick="doShoppingCartSettlement()">提交订单</a></li>
						</#if>
						<#if content??>
							<li><a href="javascript:void(0)" class="button special fit" onclick="doSettlement()">提交订单</a></li>
						</#if>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
	<div  style="position: fixed;bottom: 0px;height: 3.2em;width: 100%;margin: 0px -2em 0px -2em">
		<div  style="display: flex;justify-content:flex-end;align-items:center;border-top:1px solid #c5c5c5">
			<div  class="align-right" style="margin-right: 20px">
				<!-- <span>会员钱包余额</span> style="display: flex;flex-direction: column;text-align:right;width: 68%;padding-right:10px;background-color: #19e6d7;height: 3.2em;color: #ffee25"
				<span style="font-weight: bold;font-size: 15px">${amount!}</span> -->
				<#if jp.shoppingCartPage??>
					合计：<span id="payAmount_P" style="color:#f56a6a;font-size: 16px">￥${object.get('price')!}</span>
				</#if>
				<#if content??>
					合计：<span id="payAmount_P" style="color:#f56a6a;font-size: 16px">￥${(content.price!)*(quantity!)}</span>
				</#if>
			</div>
			<div style="display: flex;justify-content:space-between;align-items:center;width: 32%;background-color: #FF6647;height: 3.2em;text-align: center;">
				<#if jp.shoppingCartPage??>
					<p onclick="doShoppingCartSettlement()" style="color: #FFF;width: 100%;font-size: 16px">提交订单</p>
				</#if>
				<#if content??>
					<p onclick="doSettlement()" style="color: #FFF;width: 100%;font-size: 16px">提交订单</p>
				</#if>
			</div>
		</div>
	</div>
	<div id="alipayDiv"></div>
	<div id="couponList" class="table-wrapper" style="display: none">
		<#if couponList?size gt 0>
			<div>
				<div style="display: flex;flex-direction:row;align-items:center">
						<div id="0" onclick="chooseCoupon(this)" value="0" couponName="不使用优惠券">
							<input class="couponChecked" type="radio" id="0">
							<label for="coupon0"></label>
						</div>
						<div style="padding-left: 30px">
							<P style="padding: 10px 0px 5px;margin: 0px;color: #888888;font-size: 16px;">不使用优惠券</P>
						</div>
				</div>
				<#list couponList as coupon>
					<div style="display: flex;flex-direction:row;align-items:center;">
						<div id="${coupon.couponUsedId!}" onclick="chooseCoupon(this)" value="${coupon.amount!}" couponName="${coupon.name!}">
							<input class="couponChecked" type="radio" id="${coupon.couponUsedId!}">
							<label for="coupon${coupon.id!}"></label>
						</div>
						<span style="color: #ff7a7b;font-size: 22px;width: 20%;text-align: center;display: block;">￥${coupon.amount!}</span>
						<div style="padding-left: 30px">
							<P style="padding: 10px 0px 5px;margin: 0px;color: #000000;font-size: 16px;">${coupon.name!}</P>
							<P style="padding: 0px 0px 10px 0px;margin: 0px;color: #888888;">${coupon.desc!}</P>
						</div>
					</div>
				</#list>
			</div>
		<#else>
			<p>您暂时还没有可用的优惠券噢...</p>
		</#if>
	</div>
</section>
</@layout>