<#include "_inc/_layout.html"/>
<#macro script>
    function modifyPassword(){
        layer.prompt({title: '请输入新密码'}, function(val, index){
            $.post('${CPATH}/user/doModifyPassword',{ucode:'${ucode!}',newPassword:val},function(data){
                if(data.errorCode == 0){
                    window.location.href='${CPATH}/user/logout?ucode=${ucode!}';
                }else if(data.errorCode == 2){
                    var goto=window.location.href;
                    var url="${CPATH}"+data.data+"?goto="+goto;
                    window.location.href=url;
                }else{
                    layer.msg(data.message);
                }
            });
            layer.close(index);
        });
    }
</#macro>
<@layout>
<section>
 <#include "_inc/_user_top_bar.html"/>
    <!-- <header class="major">
        <h4>用户中心</h4>
    </header> -->
    <div class="box alt bottom" style="padding: 0 0 0 0;background: url(/templates/jmall/assets/images/indexBack.png) 100% 100%;margin:0 -2em 0 -2em;">
        <div class="row uniform" style="padding:0 0 1em 0">
            <div class="12u$" style="text-align: center;background: url(/templates/jmall/assets/images/userBack.png) 100% 100%;padding-bottom: 4em;padding-top: 7em">
                <ul class="actions">
                		<!-- <li><a href="${CPATH}/user/userSetting" class="icon fa-shopping-cart">设置</a></li> -->
                	<li style="margin-right: 3em"><img src="/templates/jmall/assets/images/myQRcode.png" style="width: 27;height:49"/></li>
                    <li>
                    	<img class="litter-avatar" src="${CPATH}${USER.avatar!TPATH+'/images/avatar11.jpg'}" style="width:7em;height:7em"/>
                    	<p style="color: #FFFFFF;margin-top: 1em"> ${USER.username!}</p>
                    </li>
                    <li style="margin-left: 3em"><img  src="/templates/jmall/assets/images/myOrder.png" style="width: 27;height:49"/></li>
                    <!-- <li ><a href="javascript:void(0)" onclick="modifyPassword()" class="icon fa-warning">修改密码</a></li>
                    <li><a href="${CPATH}/user/userAddress" class="icon fa-plane">地址管理</a></li> -->
                </ul>
               
                <!-- <ul class="actions">
                    <li style="color: #FFFFFF"> ${USER.username!}</li>
                </ul> -->
            </div>
             <div style="width: 100%;padding: 0">
				<li style="background: url(/templates/jmall/assets/images/userRim.png) 100% 100%;width：100%;height:31px;display: block;"></li>
			</div>
            <!-- <div class="12u$">
            		<div  style="text-align: left;">
                    <h5><font color="red">推广奖励</font></h5>
                </div>
                <div class="box" style="text-align: center;">
                    <ul class="actions fit">
                        <li ><a style="color: #3d4449;" href="${CPATH}/user/userAmount?goto=${CPATH}/user/userAmount" class="icon fa-jpy">账户余额<span class="mainRed">（${unpayed!}）</span></a></li>
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userRecovered?goto=${CPATH}/user/userRecovered" class="icon fa-truck">已提金额<span class="mainRed">（${unreceived!}）</span></a></li>
                    </ul>
                    <ul class="actions fit">
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userTeamNum?goto=${CPATH}/user/userTeamNum" class="icon fa-pencil-square-o">团队人数<span class="mainRed">（${uncomment!}）</span></a></li>
                    		<li><a style="color: #3d4449;" href="${CPATH}/user/userTeamBuyAmount?goto=${CPATH}/user/userTeamBuyAmount" class="icon fa-pencil-square-o">团队消费总额<span class="mainRed">（${uncomment!}）</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="12u$">
          		<div>
                    <h5 style="text-align: left;"><font color="red">我的订单</font></h5>
                </div>
                <div class="box" style="text-align: center;">
                    <ul class="actions fit">
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userUnpayed?goto=${CPATH}/user/userUnpayed" class="icon fa-jpy">待支付<span class="mainRed">（${unpayed!}）</span></a></li>
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction" class="icon fa-th-list">我的订单</a></li>
                    </ul>
                    <ul class="actions fit">
                    		<li><a style="color: #3d4449;" href="${CPATH}/user/userUnreceived?goto=${CPATH}/user/userUnreceived" class="icon fa-truck">待收货<span class="mainRed">（${unreceived!}）</span></a></li>
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userUncomment?goto=${CPATH}/user/userUncomment" class="icon fa-pencil-square-o">待评论<span class="mainRed">（${uncomment!}）</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="12u$">
          		<div>
                    <h5 style="text-align: left;"><font color="red">个人中心</font></h5>
                </div>
                <div class="box" style="text-align: center;">
                    <ul class="actions fit">
                        <li ><a style="color: #3d4449;" href="${CPATH}/user/userSetting" class="icon fa-jpy">基本信息<span class="mainRed">（${unpayed!}）</span></a></li>
                        <li><a style="color: #3d4449;" href="${CPATH}/user/userAddress" class="icon fa-truck">地址管理<span class="mainRed">（${unreceived!}）</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="12u$">
                <ul class="actions fit">
                    <li></li>
                    <li><a href="${CPATH}/user/logout?ucode=${ucode!}" class="button special fit">退出</a></li>
                    <li></li>
                </ul>
            </div> -->
        </div> 
        <div style="padding-bottom: 3em">
        	<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userAmount.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userRecovered.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userTeamNum.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userTeamBuyAmount.png" style="width:56px;height:50px"/>
				</li>
			</ul>
			<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userUncomment.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userShoping.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userUnreceived.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userService.png" style="width:45px;height:50px"/>
				</li>
			</ul>
			<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userAddress.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userQuestion.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userSetup.png" style="width:45px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userSetting.png" style="width:45px;height:50px"/>
				</li>
			</ul>
			<div style="text-align: center;margin-top: 2em"><img src="/templates/jmall/assets/images/userBeing.png" style="width:177;height:41"/></div>
        </div>
    </div>
    <#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>