<#include "_inc/_layout.html"/>
<#macro script>
	$(".quantity").TouchSpin({min: 1}).focus(function(){$(this).blur();}).on("change", function() {
		layermobile.open({
   		    type: 2
   		    ,content: '加载中'
   		  });
		var shoppingCartId = this.id;
		var shoppingCarQuantity = this.value;
		$.get('${CPATH}/user/doChangeShoppingCartQuantity',{id:this.id,quantity:this.value},function(data){
			$("#shoppingCart"+shoppingCartId).attr('quantity',shoppingCarQuantity);
			setTotalAmount();//重新计算总金额
			
			layermobile.closeAll();
			if(data.errorCode == 0){
				return;
			}else if(data.errorCode == 2){
				var goto=window.location.href;
				var url="${CPATH}"+data.data+"?goto="+goto;
				window.location.href=url;
			}else{
				layer.msg(data.message);
			}
		});
	});

	function clearShoppingCart(){
		layer.confirm('确定清空购物车吗', {
			btn: ['确定','取消']
		}, function(){
			layermobile.open({
	   		    type: 2
	   		    ,content: '加载中'
	   		  });
			$.post('${CPATH}/user/doClearShoppingCart',{ucode:'${ucode!}'},function(data){
				if(data.errorCode == 0){
					location.reload();
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else{
					layer.msg(data.message);
					layermobile.closeAll();
				}
			});
		});
	}

	function deleteShoppingCart(){
		var shoppingCarts=$(".shoppingCartChecked:checked");
		if(shoppingCarts.length > 0){
			layer.confirm('确定删除选中的商品吗', {
				btn: ['确定','取消']
			}, function(){
				var shoppingCartIds=new Array();
				$.each(shoppingCarts,function(n,shoppingCart) {
					shoppingCartIds.push(shoppingCart.value);
				});
				layermobile.open({
		   		    type: 2
		   		    ,content: '加载中'
		   		  });
				$.post('${CPATH}/user/doDeleteShoppingCart?ucode=${ucode!}&ids='+shoppingCartIds,function(data){
					if(data.errorCode == 0){
						location.reload();
					}else if(data.errorCode == 2){
						var goto=window.location.href;
						var url="${CPATH}"+data.data+"?goto="+goto;
						window.location.href=url;
					}else{
						layer.msg(data.message);
						layermobile.closeAll();
					}
				});
			});
		}else{
			layer.msg('请选中商品');
		}
	}

	function userShoppingCartSettlement(){
		var shoppingCarts=$(".shoppingCartChecked:checked");
		if(shoppingCarts.length > 0){
			var shoppingCartIds=new Array();
			$.each(shoppingCarts,function(n,shoppingCart) {
				if(shoppingCart.value > 0) {
					shoppingCartIds.push(shoppingCart.value);
				}
			});
			var goto=window.location.href;
			var url="${CPATH}/user/userShoppingCartSettlement?ids="+shoppingCartIds+"&goto="+goto+"";
			winLocation(url);
		}else{
			layer.msg('请选中商品');
		}
	}
	
	$('#chooseAllDiv').click(function(){  
        if($('#chooseAllInput').get(0).checked){  
			$('#chooseAllInput').removeAttr("checked",false);
            $('input[name="chooseInput"]').each(function(){  
                //此处如果用attr，会出现第三次失效的情况  
                $(this).removeAttr("checked",false);
            });  
            setTotalAmount();//重新计算总金额
        }else{  
        	$('#chooseAllInput').prop("checked",true);  
            $('input[name="chooseInput"]').each(function(){  
                $(this).prop("checked",true);  
            }); 
            
            setTotalAmount();//重新计算总金额
        }  
              
    }); 

	function setTotalAmount() {
		var totalAmount = 0.00;
            var shoppingCarts=$(".shoppingCartChecked:checked");
			if(shoppingCarts.length > 0){
				var shoppingCartIds=new Array();
				$.each(shoppingCarts,function() {
					totalAmount = accAdd(totalAmount,accMultiply($(this).attr('quantity'),$(this).attr('price')));
				});
			}
			if (totalAmount < 0) {
				totalAmount = 0.00;
			}
            $('#totalSpan').html('合计：￥' + totalAmount.toFixed(2));
	}
	//加减法
	function accAdd(arg1,arg2){   
	     var r1,r2,m;   
	     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}   
	     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}   
	     m=Math.pow(10,Math.max(r1,r2))   
	     return (arg1*m+arg2*m)/m   
	}
	
	//乘除法
	function accMultiply(arg1,arg2){   
	    var m=0,s1=arg1.toString(),s2=arg2.toString();   
	    try{m+=s1.split(".")[1].length}catch(e){}   
	    try{m+=s2.split(".")[1].length}catch(e){}   
	    return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);   
	} 
</#macro>
<@layout>
<style>
#sidebar .toggle{
	top:0px
}
</style>
<section>
	<!-- <header class="ModelOneMajor" style="background-color: #9a9a9a;margin: 0 -2em 0 -2em;padding: 5px 0px 4px 5px;display: flex;align-items:center;">
        <h4>购物车</h4>
       <i class="fa fa-angle-left fa-2x" aria-hidden="true" style="color: #FFF;"></i>
        <span style="color: #FFF;font-size: 15px;margin-left: 10px">购物车</span>
    </header> -->
	<@jp.shoppingCartPage pageSize="100">
		<div class="table-wrapper" style="margin: 0 -2em 0 -2em;padding-bottom: 4.9em;">
			<form action="#" method="post">
				<input type="hidden" name="goto" value="${goto!}">
				<#if shoppingCarts?size gt 0>
					<table >
						<tbody>
							<#list shoppingCarts as shoppingCart>
								<tr>
									<td style="width: 10%;">
										<input class="shoppingCartChecked" type="checkbox" id="shoppingCart${shoppingCart.id!}" value="${shoppingCart.id!}" name="chooseInput" price="${shoppingCart.price!}" quantity="${shoppingCart.quantity!}" onchange="setTotalAmount()">
										<label for="shoppingCart${shoppingCart.id!}"></label>
									</td>
									<td style="width: 40%;">
										<img class="image fit" src="${shoppingCart.thumbnail!}" alt="" />
									</td>
									<td style="width: 50%;" onclick="winLocation('${shoppingCart.getContentUrl()!'#'}')">								
											<p>${shoppingCart.title!}</p>
											<p>${shoppingCart.value!}</p>
											<p class="price">￥${shoppingCart.price!}</p>
											<p><input class="quantity" id="${shoppingCart.id!}" style="width: 40%;" readonly="readonly" type="number" value="${shoppingCart.quantity!}"></p>
									</td>
								</tr>
							</#list>
						</tbody>
						<!--<tfoot>
							<tr>
								<td colspan="3">
									<ul class="pagination">
										<@pagination>
											<#list pages as page>
												<li class="${(page.style)!}">
													<a class="page" href="${(page.url)!}">${(page.text)!}</a>
												</li>
											</#list>
										</@pagination>
									</ul>
								</td>
							</tr>
						</tfoot>-->
					</table>
				<#else>
					<p style="margin-top: 20px;text-align: center;">购物车空空的...</p>
				</#if>
			</form>
		</div>
		<#if shoppingCarts?size gt 0>
			<div  style="position: fixed;bottom: 50px;height: 2.9em;width: 100%;">
				<div  style="display: flex;justify-content:space-between;align-items:center;background-color:rgba(255,255,255,0.95);margin-left:-2.2em;margin-right: 2.3em">
					<!-- <li><a href="javascript:void(0)" class="button fit" onclick="clearShoppingCart()">清空</a></li>
					<li ><a href="javascript:void(0)" class="button fit" onclick="deleteShoppingCart()">删除</a></li> -->
					<div style="display: flex;align-items:center;margin-left: 1.6em" id="chooseAllDiv">
						<input class="shoppingCartChecked" type="checkbox" id="chooseAllInput" price="0" quantity="0" value="0.0">
						<label style="margin-bottom: 1.3em;"></label>
						<p style="margin-top:1em;color: #a7a7a7;margin-left: -10px">全选</p>
					</div>
					<div class="right" style="display: flex;justify-content:space-between;align-items:center;">
						<span class="right" style="margin-top:0.5em;color: #f5696a;padding-right: 10px" id="totalSpan">合计：￥</span>
						<div><a href="javascript:void(0)" class="button Modelspecial right" onclick="userShoppingCartSettlement()">去结算</a></div>
					</div>
				</div>
			</div>
		</#if>
	</@jp.shoppingCartPage>
	<#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>