<#include "_inc/_layout.html"/>
<#macro script>
	//微信支付--jiangjb
	var wechatPayData = '';
	function onBridgeReady(){
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest', 
			JSON.parse(wechatPayData),
			function(res){
				// 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
				if(res.err_msg == "get_brand_wcpay_request:ok" ) {
					layer.msg('支付成功！</br>正在转到订单界面', function(){
	                    window.location.href="${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction";
	                });
				} else {
					//alert(JSON.stringify(res));
					layer.msg('支付失败了！</br>正在转到待支付界面', function(){
	                    window.location.href="${CPATH}/user/userUnpayed?goto=${CPATH}/user/userUnpayed";
	                });
				}
			}
		); 
	}
	
	function doShoppingCartSettlement(){
		var remark=$("#remark").val();
		var shoppingCarts=$("input[name='shoppingCart.id']");
		var userAddressId=$("#userAddress option:selected").val();
		var shoppingCartIds=new Array();
		if(shoppingCarts.length > 0){
			$.each(shoppingCarts,function(n,shoppingCart) {
				shoppingCartIds.push(shoppingCart.value);
			});
		}else{
			layer.msg('结算的商品为空');
			return;
		}
		if(!userAddressId){
			layer.msg('请选择收货地址');
			return;
		}
		<!--微信支付-->
		$.ajax({
			type: "POST",
			traditional: true,
			//url: "${CPATH}/transaction/shoppingCartAlipay",
			url: "${CPATH}/wechatpay/shoppingCartWechatpay",
			data: {
				ucode:'${ucode!}',
				remark:remark,
				userAddressId:userAddressId,
				shoppingCartIds:shoppingCartIds
			},
			success: function(data){
				if(data.errorCode == 0){
					//$("#alipayDiv").append(data.data);
					wechatPayData = data.data;
                    //触发微信支付
                    if (typeof WeixinJSBridge == "undefined"){
						if( document.addEventListener ){
							document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
						}else if (document.attachEvent){
							document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
							document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
						}
					}else{
						onBridgeReady();
					}
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else if(data.errorCode == 3){
					layer.msg(data.message+" 几秒后自动跳转", function(){
						window.location.href="${CPATH}/user/center";
					});
				}else{
					layer.msg(data.message);
				}
			},error: function(){
				layer.msg('系统异常 几秒后自动跳转', function(){
					window.location.href="${CPATH}/user/center";
				});
			}
		});
	}

	function doSettlement(){
		var contentId=$("#contentId").val();
		var specValueId=$("#specValueId").val();
		var quantity=$("#quantity").val();
		var remark=$("#remark").val();
		var payAmount =  $('#payAmount').val();
		var couponUsedId =  $('#couponUsedId').val();
		
		var userAddressId=$("#userAddress option:selected").val();
		if(!userAddressId){
			layer.msg('请选择收货地址');
			return;
		}
		<!--微信支付-->
		$.ajax({
			type: "POST",
			traditional: true,
			//url: "${CPATH}/transaction/contentAlipay",
			url: "${CPATH}/wechatpay/contentWechatpay",
			data: {
				ucode:'${ucode!}',
				remark:remark,
				userAddressId:userAddressId,
				contentId:contentId,
				specValueId:specValueId,
				quantity:quantity,
				payAmount:payAmount,
				couponUsedId:couponUsedId
			},
			success: function(data){
				if(data.errorCode == 0){
					//$("#alipayDiv").append(data.data);
					wechatPayData = data.data;
                    //触发微信支付
                    if (typeof WeixinJSBridge == "undefined"){
						if( document.addEventListener ){
							document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
						}else if (document.attachEvent){
							document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
							document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
						}
					}else{
						onBridgeReady();
					}
				}else if(data.errorCode == 2){
					var goto=window.location.href;
					var url="${CPATH}"+data.data+"?goto="+goto;
					window.location.href=url;
				}else if(data.errorCode == 3){
					layer.msg(data.message+" 几秒后自动跳转", function(){
						window.location.href="${CPATH}/user/center";
					});
				}else{
					layer.msg(data.message);
				}
			},error: function(){
				layer.msg('系统异常 几秒后自动跳转', function(){
					window.location.href="${CPATH}/user/center";
				});
			}
		});
	}
	
	function couponList() {
		layer.open({
		  type: 1,
		  title: false,
		  closeBtn: 0,
		  shadeClose: true,
		  skin: 'yourclass',
		  content: $('#couponList')
		});
	}
	
	//加减法
	function accAdd(arg1,arg2){   
	     var r1,r2,m;   
	     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}   
	     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}   
	     m=Math.pow(10,Math.max(r1,r2))   
	     return (arg1*m+arg2*m)/m   
	}
	
	//乘除法
	function accMultiply(arg1,arg2){   
	    var m=0,s1=arg1.toString(),s2=arg2.toString();   
	    try{m+=s1.split(".")[1].length}catch(e){}   
	    try{m+=s2.split(".")[1].length}catch(e){}   
	    return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);   
	}  
	
	//选择优惠券
	function chooseCoupon(obj) {
		var couponAmount = obj.attributes["value"].nodeValue;
		var totalAmount = $('#totalAmount_P').attr("value");
		var payAmount = $('#payAmount_P').attr("value");
		if (couponAmount <= 0) {
			couponAmount = 0.00;
			$('#coupon_P').html('优惠券>');
		} else {
			$('#coupon_P').html('优惠券：￥-' + couponAmount + ' >');
		}
		payAmount = accAdd(totalAmount,-couponAmount);
		if (payAmount < 0) {
			payAmount = 0.00;
		}
		$('#payAmount_P').html('实付款：￥' + payAmount);
		$('#payAmount_P').attr("value",payAmount);
		
		$('#payAmount').attr("value",payAmount);
		$('#couponUsedId').attr("value",obj.id);
		
		layer.close(layer.index);
	}
	
	
</#macro>
<@layout>
<section>
	<div>
		<input type="hidden" name="goto" value="${goto!}">
		<header class="major">
			<h4>填写订单</h4>
		</header>
		<@jp.userAddressPage pageSize="100">
			<div class="row uniform">
				<div class="12u$">
					<div class="select-wrapper">
						<select id="userAddress" name="userAddress" >
							<option value="">-请选择收货地址-</option>
							<#list userAddresss as userAddress>
								<option value="${userAddress.id!}">${userAddress.address!}&nbsp;${userAddress.name!}&nbsp;${userAddress.mobile!}</p></option>
							</#list>
						</select>
						<!-- <a href="${CPATH}/user/userAddress" class="icon fa-plane">添加地址</a> -->
					</div>
				</div>
			</div>
		</@jp.userAddressPage>
		<#if jp.shoppingCartPage??>
			<@jp.shoppingCartPage pageSize="100">
				<div class="table-wrapper">
					<table>
						<tbody>
							<#list shoppingCarts as shoppingCart>
								<input type="hidden" name="shoppingCart.id" value="${shoppingCart.id!}">
								<tr>
									<td style="width: 40%;">
										<img class="image fit" src="${shoppingCart.thumbnail!}" alt="" />
									</td>
									<td>
										<p>${shoppingCart.title!}</p>
										<p>${shoppingCart.value!}</p>
										<p class="price">￥${shoppingCart.price!} × ${shoppingCart.quantity!}</p>
									</td>
								</tr>
							</#list>
						</tbody>
						<!--<tfoot>
							<tr>
								<td colspan="3">
									<ul class="pagination">
										<@pagination>
											<#list pages as page>
												<li class="${(page.style)!}">
													<a class="page" href="${(page.url)!}">${(page.text)!}</a>
												</li>
											</#list>
										</@pagination>
									</ul>
								</td>
							</tr>
						</tfoot>-->
					</table>
				</div>
				<diV class="box alt">
					<div class="row uniform">
						<div class="12u$">
							<p class="price">数量：${object.get('quantity')!}</p>
							<p class="price">总金额：￥${object.get('price')!}</p>
						</div>
					</div>
				</diV>
			</@jp.shoppingCartPage>
		</#if>
		<#if content??>
			<div class="table-wrapper">
				<table>
					<tbody>
						<input type="hidden" id="contentId" name="contentId" value="${content.id!}">
						<input type="hidden" id="specValueId" name="specValueId" value="${content.spec_value_id!}">
						<input type="hidden" id="quantity" name="quantity" value="${quantity!}">
						<input type="hidden" id="payAmount" name="payAmount" value="0">
						<input type="hidden" id="couponUsedId" name="couponUsedId" value="">
						<tr>
							<td style="width: 40%;">
								<img class="image fit" src="${content.thumbnail!}" alt="" />
							</td>
							<td>
								<p>${content.title!}</p>
								<p>${content.value!}</p>
								<p class="price">￥${content.price!} × ${quantity!}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<diV class="box alt">
				<div class="row uniform">
					<div class="12u$">
						<p class="price">数量：${quantity!}</p>
						<p class="price" id="totalAmount_P" value="${(content.price!)*(quantity!)}">总金额：￥${(content.price!)*(quantity!)}</p>
						<p class="price" id="coupon_P" onclick="couponList()" style="cursor:pointer">优惠券></p>
						<p class="price" id="payAmount_P" value="${(content.price!)*(quantity!)}">实付款：￥${(content.price!)*(quantity!)}</p>
					</div>
				</div>
			</diV>
		</#if>
		<diV class="box alt">
			<div class="row uniform">
				<div class="12u$">
					<textarea id="remark" name="remark" placeholder="给商家留言...（选填）" rows="3"></textarea>
				</div>
			</div>
		</diV>
		<div class="box alt">
			<div class="row uniform">
				<div class="12u$">
					<ul class="actions fit">
						<li><a href="${goto!}" class="button fit" >取消</a></li>
						<#if jp.shoppingCartPage??>
							<li><a href="javascript:void(0)" class="button special fit" onclick="doShoppingCartSettlement()">提交订单</a></li>
						</#if>
						<#if content??>
							<li><a href="javascript:void(0)" class="button special fit" onclick="doSettlement()">提交订单</a></li>
						</#if>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="alipayDiv"></div>
	<div id="couponList" class="table-wrapper" style="display: none">
		<#if couponList?size gt 0>
			<div>
				<div style="display: flex;flex-direction:row;align-items:center">
						<div id="0" onclick="chooseCoupon(this)" value="0">
							<input class="couponChecked" type="radio" id="0">
							<label for="coupon0"></label>
						</div>
						<div style="padding-left: 30px">
							<P style="padding: 10px 0px 5px;margin: 0px;color: #888888;font-size: 16px;">不使用优惠券</P>
						</div>
				</div>
				<#list couponList as coupon>
					<div style="display: flex;flex-direction:row;align-items:center">
						<div id="${coupon.couponUsedId!}" onclick="chooseCoupon(this)" value="${coupon.amount!}">
							<input class="couponChecked" type="radio" id="${coupon.couponUsedId!}">
							<label for="coupon${coupon.id!}"></label>
						</div>
						<span style="color: #ff7a7b;font-size: 22px;width: 20%;text-align: center;display: block;">￥${coupon.amount!}</span>
						<div style="padding-left: 30px">
							<P style="padding: 10px 0px 5px;margin: 0px;color: #000000;font-size: 16px;">${coupon.name!}</P>
							<P style="padding: 0px 0px 10px 0px;margin: 0px;color: #888888;">${coupon.desc!}</P>
						</div>
					</div>
				</#list>
			</div>
		<#else>
			<p>您暂时还没有可用的优惠券噢...</p>
		</#if>
	</div>
</section>
</@layout>