<#include "_inc/_layout.html"/>
<#macro script>
    function modifyPassword(){
        layer.prompt({title: '请输入新密码'}, function(val, index){
            $.post('${CPATH}/user/doModifyPassword',{ucode:'${ucode!}',newPassword:val},function(data){
                if(data.errorCode == 0){
                    window.location.href='${CPATH}/user/logout?ucode=${ucode!}';
                }else if(data.errorCode == 2){
                    var goto=window.location.href;
                    var url="${CPATH}"+data.data+"?goto="+goto;
                    window.location.href=url;
                }else{
                    layer.msg(data.message);
                }
            });
            layer.close(index);
        });
    }
    function rightTopClick() {
		layer.tips('暂时戳不动噢^_^', '#rightTopImg', {
		  tips: [4, '#78BA32']
		});
	}
	function leftTopClick() {
		layer.tips('暂时戳不动噢^_^', '#leftTopImg', {
		  tips: [3, '#78BA32']
		});
	}
</#macro>
<@layout>
<section>
 <#include "_inc/_user_top_bar.html"/>
    <div class="box alt bottom" style="padding: 0 0 0 0;background: url(/templates/jmall/assets/images/indexBack.png) 100% 100%;margin:0 -2em 0 -2em;">
        <div class="row uniform" style="padding:0 0 1em 0">
            <div class="12u$" style="text-align: center;background: url(/templates/jmall/assets/images/userBack.png) 100% 100%;padding-bottom: 4em;padding-top: 7em">
                <!-- <ul class="actions">
                    <li><img class="litter-avatar" src="${CPATH}${USER.avatar!TPATH+'/images/avatar.jpg'}"/></li>
                </ul> -->
                <ul class="actions">
                		<li style="margin-right: 3em"><img src="/templates/jmall/assets/images/myQRcode.png" style="width: 35px"/></li>
                    <li>
                    	<img class="litter-avatar" src="${CPATH}${USER.avatar!TPATH+'/images/avatar11.jpg'}" style="width:7em;height:7em"/>
                    	<p style="color: #FFFFFF;margin-top: 1em"> ${USER.username!}</p>
                    </li>
                    <li style="margin-left: 3em" onclick="window.location.href='${CPATH}/user/userTransaction?goto=${CPATH}/user/userTransaction';"><img  src="/templates/jmall/assets/images/myOrder.png" style="width: 35px;"/></li>
                </ul>
            </div>
             <div style="width: 100%;padding: 0;position: relative;">
				<li style="background: url(/templates/jmall/assets/images/userRim.png) 100% 100%;width：100%;height:31px;display: block;">
				</li>
				<div style="position: absolute;width: 100%;top:-45px;text-align: center;">
					<div onclick="window.location.href='${CPATH}/user/accountDetail?goto=${CPATH}/user/accountMoney';" style="background: url(/templates/jmall/assets/images/userMoney.png) no-repeat;display: flex;flex-direction:column;text-align:center;margin:auto;width: 118px;height: 118px;">
						<span style="color: #ffed27;margin-top: 23px;font-size: 12px">MEMBER POINTS</span>
						<span style="color: #ffed27;font-size: 28px">${accountMoney!}</span>
						<span style="color: #ffed27">会员钱包</span>
					</div>
				</div>
			</div>
        </div> 
        <div style="padding-bottom: 3em;padding-top: 2.8em">
        	<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/accountDetail';">
					<img src="/templates/jmall/assets/images/userAmount.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/accountExtract';">
					<img src="/templates/jmall/assets/images/userRecovered.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userTeamNum.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userTeamBuyAmount.png" style="width:50px;height:50px"/>
				</li>
			</ul>
			<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/userUncomment';">
					<img src="/templates/jmall/assets/images/userUncomment.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/shoppingCart';">
					<img src="/templates/jmall/assets/images/userShoping.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/userUnreceived';">
					<img src="/templates/jmall/assets/images/userUnreceived.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userService.png" style="width:50px;height:50px"/>
				</li>
			</ul>
			<ul class="icons" style="text-align: center;margin: 1em 0em 1em 0em;padding:1em -2em 1em -2em ">
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/userAddress';">
					<img src="/templates/jmall/assets/images/userAddress.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userQuestion.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" onclick="window.location.href='${CPATH}/user/userSetting';">
					<img src="/templates/jmall/assets/images/userSetup.png" style="width:50px;height:50px"/>
				</li>
				<li style="width: 25%;padding:0;margin-left:-1em" >
					<img src="/templates/jmall/assets/images/userSetting.png" style="width:50px;height:50px"/>
				</li>
			</ul>
			<div style="text-align: center;margin-top: 2em">
				<img src="/templates/jmall/assets/images/userBeing.png" onclick="window.location.href='${CPATH}/user/userBeing';" style="width:177px;height:41px"/>
			</div>
        </div>
    </div>
   
    <#include "_inc/_user_bottom_bar.html"/>
</section>
</@layout>